.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.item {
    background: #f7f7f7;
    padding: 20px;
}

.imagem {
    width: 300px;
    height: 150px;
}